menu "Color14 Pin Configuration"
    config COLOR14_SDA
        int "COLOR14_SDA"
        default "1"
    config COLOR14_SCL
        int "COLOR14_SCL"
        default "2"
    config COLOR14_INT
        int "COLOR14_INT"
        default "42"
endmenu